{% extends "based.html" %}
{% load i18n %}

{% block style %}

<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<title>{% block title %}Account Activate{% endblock %}</title>
 <style>
    .a{
	margin-bottom: 40em;
	margin-top: 4em;
}
	</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

{% include "body.html" %} 
{% end block %}

{% block a %}
<div class="a">
<p><center><b style="font-size: 30px; color:white">{% trans "Account activation failed" %}</b></center></p>
</div></main>
{% endblock %}
{% block newskletter %}
{% endblock %}
