{% extends "based.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block a %}


<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Login{% endblock %}</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Branded Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'css/styleds.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <style type="text/css">
   
  input[type="text"],input[type="email"]
   {
     text-transform: lowercase;
   }
   .sub-main-w3 input[type="password"]{
	margin-top: 1.5em;
}
   </style>
<!-- //online-fonts -->

</head>
<body class="subpage">
<div class="w3-agile-banner">
	<div class="center-container">
		<!--header-->
		<div class="header-w3l">
            <br><br><br><br>
			<h1><span>Login</span> Form</h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="wthree-pro">
				<h2>Signin Now</h2>
			</div>
			<div class="w3-head-continue">
						<h4>Sign in quikly using</h4>
					</div>
					<div class="social_icons">
						<!-- Facebook -->
						<div class="slide-social w3l">
						<a href="{% url 'social:begin' 'facebook' %}">
							<div class="button">Facebook</div>
							<div class="facebook icon"> <i class="facebook"></i> </div>
							<div class="facebook slide">
								<p>Facebook</p>
							</div>
							<div class="clear"></div>
							</a>
						</div>
						<!-- Twitter -->
						<div class="slide-social w3l">
						<a href="{% url 'social:begin' 'twitter' %}">
							<div class="button">Twitter</div>
							
							<div class="twitter icon"> <i class="twitter"></i></div>
							<div class="twitter slide">
								<p>Twitter</p>
							</div>
							<div class="clear"></div>
							</a> 
						</div>
					</div>
						<div class="w3-head-continue">
						<h4>or use your email</h4>
					</div>
			<div class="sub-main-w3">	
				<form  method="post" action="">
                 {% csrf_token %}
<input type="text" name="username" autofocus required id="id_username" maxlength="254" placeholder="username" />
 <input type="password" name="password" required id="id_password" placeholder="password" />
 {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
          
                <strong style="color:red">{{ error }}</strong>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
            <strong style="color:red">{{ error }}</strong>

    {% endfor %}
{% endif %}
					<div class="rem-w3">
						<a class="w3-pass" href="/accounts/password/reset/" class="button">Forgot Password?</a>
						<div class="clear"></div>
					</div>
					
					<input type="submit" value="Login">
				</form>
			</div>
			<div class="w3-head-continue">
                <br>
						<h4>Not a member? <a href="/accounts/register/" class="button btn btn-primary">Signup</a></h4>
					</div>
		</div>
		<!--//main-->
		<!--footer-->
		<!--//footer-->
	</div>
</div>	
<!-- js -->
<!-- //js -->
</body>
</html>
{% endblock %}
{% block b %}
{% endblock %}
