{% extends "based.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Reset Password Form{% endblock %}
{% block style %}
<link href="{% static 'css/passstyle.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<style>
.element{
	margin-bottom: 25em;
	margin-top: 10em;
}
{% include "body.html" %}
	</style>
{% endblock %}
{% block a %}
<!--element start here-->
<div class="element">
	<div class="element-main">
		<h1 style="color:black">Password Reset</h1>
		<p style="color:black">Reset your password using your email below.</p>
		<form method="POST">
      {% csrf_token %}
       <p><label for="id_email"></label> <input placeholder="your email" type="email" name="email" required id="id_email" maxlength="254" /></p>
			<input type="submit" value="Reset my Password">
		</form>
	</div>
</div>
<!--element end here-->
</main>
{% endblock %}
{% block newskletter %}
{% endblock %}