{% extends "based.html" %}
{% load i18n %}

{% block style %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% include "body.html" %}
   <style>
p{
	margin-bottom: 25em;
	margin-top: 10em;
}
	</style>
	{% endblock %}
	{% block a %}
<p style="color:white; font-size:30px;">{% trans "Password reset successfully" %}</p>
<p><a style="color:white; font-size:30px;" href="{% url 'register:auth_login' %}">{% trans "Log in" %}</a></p>
</html>
{% endblock %}
{% block newskletter %}
{% endblock %}