{% extends "based.html" %}
{% load staticfiles %}
{% load i18n %}
{% block style %}
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Branded Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'css/styleds.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <style type="text/css">
   
  input[type="text"],input[type="email"]
   {
     text-transform: lowercase;
   }
   label{
     margin-top:2em; 
     color: white;
   }
   </style>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
    <style>
        label
        {
            color: white;
        }
        .center-container{
          margin-top: 4em;
       
       }
       .bt-newsletter
       {
           margin-top: 10em;
       }
{% include "body.html" %}
        </style>
 {% endblock %}
{% block a %}
<main id="bt-main" class="bt-main bt-haslayout">
{% if validlink %}
<body class="subpage">
  
<div class="w3-agile-banner">
	<div class="center-container">
		<!--header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="wthree-pro">
				<h2>Reset Password</h2>
			</div>
      <div class="sub-main-w3">	
  <p style="color:white; font-size:30px;">{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="button btn btn-primary" type="submit" value="{% trans 'Set password' %}" />
  </form>
    </center>
{% else %}
  <p style="color:white; font-size:30px;">Password reset unsuccessful. Please <a href="{% url 'register:auth_password_reset' %}">try again.</a></p>
{% endif %}
</main>
{% endblock %}
{% block newsletter %}
{% endblock %}