{% extends "based.html" %}
{% load i18n %}

{% block a %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% include "body.html" %}
<p style="color:white; font-size:30px;">{% trans "Password reset successfully" %}</p>
<p><a style="color:white; font-size:30px;" href="{% url 'register:auth_login' %}">{% trans "Log in" %}</a></p>
<br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>
{% endblock %}
{% block b %}
{% endblock %}