{% extends "based.html" %}
{% load i18n %}

{% block a %}
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
      <style>
        label
        {
            color: white;
        }
        </style>
   {% include "body.html" %}
  <br>	<br>

{% if validlink %}
<div class="container" style="color: white;">
<center>
    <div class="container" style="width: 500px;">
  <p style="color:white; font-size:30px;">{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="button btn btn-primary" type="submit" value="{% trans 'Set password' %}" />
  </form>
    </center>
{% else %}
  <p style="color:white; font-size:30px;">Password reset unsuccessful. Please <a href="{% url 'register:auth_password_reset' %}">try again.</a></p>
{% endif %}

<br><br><br><br><br><br>
{% endblock %}
{% block b %}
{% endblock %}