{% extends "based.html" %}
{% load i18n %}

{% block a %}
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>Change-Password</title>
   {% include "body.html" %}
      <style>
        label
        {
            color: white;
           }
 .container{
	margin-bottom: 10em;
	margin-top: 4em;
}
        }
        </style>
{% if validlink %}
<div class="container" style="color: white;">
<center>
  <h1  style="color: white;"><span>Password Change</span> Form</h1>
    <div class="container" style="width: 500px;">
  <p style="color:white; font-size:30px;">{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="button btn btn-primary" type="submit" value="{% trans 'Set password' %}" />
  </form>
    </center>
{% else %}
  <p style="color:white; font-size:30px;">Password reset unsuccessful. Please <a href="{% url 'register:auth_password_reset' %}">try again.</a></p>
{% endif %}
{% endblock %}
{% block b %}
{% endblock %}