{% extends "based.html" %}
{% load i18n %}

{% block style %}
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

   <style>
p{
	margin-bottom: 25em;
	margin-top: 5em;
}
</style>
{% include "body.html" %}

{% endblock %}
{% block a %}
<p text-align="center" style="color:white; font-size: 30px;">
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
</p></main>
{% endblock %}
{% block newskletter %}
{% endblock %}