{% extends "based.html" %}
{% load i18n %}

{% block a %}


<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
<title>{% block title %}Change Password{% endblock %}</title>
    {% include "body.html" %}
    <style>
        label
        {
            color: white;
        }
.container{
   margin-top: 3em;
   margin-bottom: 3em;
}
        </style>
</head>
<div class="container" style="color: white;">
	<div class="header-w3l">
			<h1  style="color: white;"><span>Password Change</span> Form</h1>
		</div>
    <div class="container" style="width: 500px;">
    <form method="POST" action=".">
    	
    	{% csrf_token %}
     {{form.as_p}}


<input class="button btn btn-primary" type="submit" value="Submit" /></a>
    </form>
    </div>

</div>

</body>
{% endblock %}
{% block b %}
{% endblock %}