
.home-text h1 span{
	color:#d35400;
}
.bar-prc1 {
	background-color: #d35400;
}
.bar-prc2 {
	background-color: #d35400;
}
.bar-prc3 {
	background-color: #d35400;
}
.bar-prc4 {
	background-color: #d35400;
}
.bar-prc5 {
	background-color: #d35400;
}
.bar-prc6 {
	background-color: #d35400;
}
.list-social li.icon-soc a {
	color: #d35400; 
}
.bottom-social li.icon-bottom a {
	color: #d35400; 
}
.services-wrap a{
	color:#d35400;
}
.services-wrap .services-wrap-icon{
	background:#d35400;
}
.icon-test  {
	color: #d35400; 
}
.current{
	color:#d35400;
}
.one-work .work-text{
	background:#d35400; 
}
.icon-contact  {
	color: #d35400; 
}
.error {
	color: #d35400;
}




















