
.home-text h1 span{
	color:#2ecc71;
}
.bar-prc1 {
	background-color: #2ecc71;
}
.bar-prc2 {
	background-color: #2ecc71;
}
.bar-prc3 {
	background-color: #2ecc71;
}
.bar-prc4 {
	background-color: #2ecc71;
}
.bar-prc5 {
	background-color: #2ecc71;
}
.bar-prc6 {
	background-color: #2ecc71;
}
.list-social li.icon-soc a {
	color: #2ecc71; 
}
.bottom-social li.icon-bottom a {
	color: #2ecc71; 
}
.services-wrap a{
	color:#2ecc71;
}
.services-wrap .services-wrap-icon{
	background:#2ecc71;
}
.icon-test  {
	color: #2ecc71; 
}
.current{
	color:#2ecc71;
}
.one-work .work-text{
	background:#2ecc71; 
}
.icon-contact  {
	color: #2ecc71; 
}
.error {
	color: #2ecc71;
}




















