{% extends 'based.html' %}
{% load staticfiles %}
{% block style %}
	{% endblock %}
{% block a %}
   <!--************************************
            Header End
    *************************************-->
    <!-- Banners -->
     <!--************************************
				Inner Page Banner Start
        *************************************-->

        <div class="bt-innerpagebanner bt-innerpagebannerv1 bt-fullheight" data-vide-bg="poster: {% static 'images/bg/bgaboutusv1' %}	" data-vide-options="position: 0% 50%" >
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="bt-innerbannercontent">
							<h1>about US</h1>
						</div>
					</div>
				</div>
			</div>
			<a id="bt-btnscrollto" class="bt-btnscrollto bt-btnscroll" href="#bt-main">scroll</a>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="bt-main" class="bt-main bt-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="bt-content" class="bt-content">
							<section class="bt-sectionspace bt-haslayout">
								<div class="bt-aboutus">
									<div class="bt-abouttextbox">
										<h2>15 Years of Expertis</h2>
										<h3>Photography for the modern generation</h3>
										<div class="bt-description">
											<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
										</div>
									</div>
								</div>
							</section>
							<section class="bt-sectionspace bt-haslayout">
								<div class="bt-members">
									<div class="bt-member">
										<figure><img src="{% static 'images/members/img-01.jpg' %}" alt="image description"></figure>
										<div class="bt-membercontent">
											<div class="bt-membername">
												<h3>John Larry</h3>
											</div>
											<span class="bt-memberdesignation">Co-Founder</span>
											<div class="bt-description">
												<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
											</div>
											<ul class="bt-socialicons">
												<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											</ul>
										</div>
										<div class="bt-membercontent">
											<div class="bt-membername">
										
									</div>
									<div class="bt-member">
                                         	<h3>John Larry</h3>
											</div>
											<span class="bt-memberdesignation">Co-Founder</span>
											<div class="bt-description">
												<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
											</div>
											<ul class="bt-socialicons">
												<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											</ul>
										</div>
										<figure><img src="{% static 'images/members/img-02.jpg' %}" alt="image description"></figure>
									</div>
								</div>
							</section>
							<div class="bt-sectionpattren bt-haslayout"></div>
							<section class="bt-sectionspace bt-haslayout">
								<div class="bt-counters">
									<div class="bt-counter">
										<div class="bt-count">
											<h3 data-from="0" data-to="3504" data-speed="8000" data-refresh-interval="50">3504</h3>
										</div>
										<div class="bt-countertitle">
											<h3>This Week Clicks</h3>
										</div>
									</div>
									<div class="bt-counter">
										<div class="bt-count">
											<h3 data-from="0" data-to="2" data-speed="8000" data-refresh-interval="50">02</h3>
										</div>
										<div class="bt-countertitle">
											<h3>Lead Photography</h3>
										</div>
									</div>
									<div class="bt-counter">
										<div class="bt-count">
											<h3 data-from="0" data-to="160" data-speed="8000" data-refresh-interval="50">160</h3>
										</div>
										<div class="bt-countertitle">
											<h3>Over all Clients</h3>
										</div>
									</div>
									<div class="bt-counter">
										<div class="bt-count">
											<h3 data-from="0" data-to="3" data-speed="8000" data-refresh-interval="50">03</h3>
										</div>
										<div class="bt-countertitle">
											<h3>Locations</h3>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
	
      {% endblock %}
