    {% load staticfiles %}
    <style type="text/css">
          
  input[type="text"],input[type="email"]
   {
     text-transform: lowercase;
   }
        
        body{
    text-align: center;
	font-family: 'Roboto', sans-serif;
    background:url("{% static 'images/1.jpg' %}")no-repeat 0px 0px;
	-webkit-background-size:cover; 
	-moz-background-size:cover;  
	background-size:cover; 
	min-height:700px;
    }
    .bt-newsletter,.bt-instagramgallery
{
    margin-top: 10em;
}
    </style>
<main id="bt-main" class="bt-main bt-haslayout">
