{% extends "based.html" %}
{% block a %}

    <!-- Banners -->
    <main id="bt-main" class="bt-main bt-fullheight bt-haslayout">
			<div class="container-fluid  bt-fullheight">
				<div class="row  bt-fullheight">
					<div id="bt-content" class="bt-content bt-fullheight">
						<div id="bt-locationmap" class="bt-locationmap"></div>
						<div class="bt-contactus bt-contactusvone">
							<div class="bt-addresses">
								<div class="bt-address">
									<h2>Melbourne</h2>
									<ul>
										<li><address>Manhatta Hall Tasver Ltd 1258, Melbourne, Australia</address></li>
										<li><span>7221 654 321 99 (+1)</span></li>
										<li><a href="mailto:tasver@info.com">tasver@info.com</a></li>
									</ul>
								</div>
								<div class="bt-address">
									<h2>Peshawar</h2>
									<ul>
										<li><address>Cantt Tower View Tasver Ltd 1258, Peshawar, Pakistan</address></li>
										<li><span>7221 654 321 35 (+9)</span></li>
										<li><a href="mailto:tasver@help.com">tasver@help.com</a></li>
									</ul>
								</div>
							</div>
							<div class="bt-followus">
								<span>follow us</span>
								<ul class="bt-socialicons">
									<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
									<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
							<div class="bt-getintouch">
								<h2>Get in Touch</h2>
								<form class="bt-formtheme bt-formcontactus" method="post">
                                    	{% csrf_token %}
									<fieldset>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
												<div class="form-group">
													<input type="text" name="full_name" required id="id_full_name" class="form-control" placeholder="Name">
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
												<div class="form-group">
													<input style="text-transform: lowercase;" type="email" required id="id_email"  name="email" class="form-control" placeholder="Email Address">
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group">
													<textarea name="message" class="form-control" placeholder="Message" required></textarea>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<button class="bt-btn bt-btnblack" type="submit"><span>SEND</span></button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
							<span class="bt-copyright">Copyrights 2017 Tasver. All rights reserved</span>
						</div>
					</div>
				</div>
			</div>
		</main>
        {% endblock %}
	{% block newsletter %}
    {% endblock %}
    {% block footer %}
	{% endblock %}
    <!--************************************
        Footer End

<!--************************************
        Wrapper End -->
     