{% extends "based.html" %}
{% load staticfiles %}
{% block title %}Submit your Awesome Pics {% endblock %}
{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Perfect Match Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'css4/styleds.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{% static 'css4/jquery-ui.css' %}" />
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=GFS+Neohellenic:400,400i,700,700i&amp;subset=greek" rel="stylesheet">
<style>
    #output{
        height: 300px;
        width:300px;
    }
    .bt-newsletter,.bt-instagramgallery
{
    margin-top: 10em;
}
    input[type="text"]{
        text-transform: lowercase;
    }
  
    input[type="file"]:hover{
        background: green;
    }

    body{
    background: url("{% static 'images/bg/banner-02.jpg' %}") no-repeat center;
    }
</style>
{% endblock %}
{% block a %}
<main id="bt-main" class="bt-main bt-haslayout">
<div class="center-container">
    <!--header--><br><br><br><br>
    <div class="header-w3l">
        <h1>Upload Your Awesome Selfie</h1>
    </div>
	<div class="agileits-register">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %} 
                                    <div class="w3_modal_body_grid w3_modal_body_grid1">
                                        <span><label for="id_user">User:</label></span>
                                        <input type="text" name="user" required id="id_user" maxlength="100" value="{{request.user}}"  readonly />
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="w3_modal_body_grid w3_modal_body_grid1">
                                        <span><label for="id_image_caption">Image caption:</label> </span>
                                        <input type="text" name="image_caption" required id="id_image_caption" maxlength="100" />
                                        <div class="clear"> </div>
                                     </div>
                                    <div class="w3_modal_body_grid w3_modal_body_grid1">
                                            <span><label for="id_image">Image:</label></span> <input type="file" name="image" required id="id_image"  /><!-- +onchange="loadFile(event)" -->
                                            <div class="clear"> </div>
                                    </div>
                                        <div class="w3_modal_body_grid w3_modal_body_grid1">
                                            <img id="output" alt="image desc"/>
                                        </div>
				<input type="submit" value="Upload" />
			</form>
        </div>
    </div>
</main>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js4/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js4/jquery-ui.js' %}"></script>
<script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
       };
</script>
{% endblock %}
