	{% extends 'basis.html' %}
	{% block b %}
    <article id="blog" class="off"> 
			<div class="container">
				<div class="sixteen columns"> 
					<h1>Blog</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
			</div> 
			<div class="blog-wrap">
				<div class="container">
					<div class="eight columns">	
						<img src="images/gallery/8.jpg" alt=""/>
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>07.11.</span></div>
						<h6>Post With Image</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">image</a><a href="#">design</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap post2">
				<div class="container">
					<div class="eight columns">	
						<ul class="slider5"> 
							<li>
								<img src="images/gallery/12.jpg" alt=""/>	
							</li> 
							<li>
								<img src="images/gallery/13.jpg" alt=""/>	
							</li>
							<li>
								<img src="images/gallery/7.jpg" alt=""/>	
							</li>
						</ul> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>02.11.</span></div>
						<h6>Post With Slider</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">image</a><a href="#">design</a><a href="#">slider</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap post1">
				<div class="container">
					<div class="eight columns">
						<div class="media">
							<iframe src="http://player.vimeo.com/video/18130984?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=000000" ></iframe>
						</div> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>26.10.</span></div>
						<h6>Post With Video</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">video</a><a href="#">design</a><a href="#">photo</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>
			<div class="blog-wrap post2">
				<div class="container">
					<div class="eight columns">	 
						<div class="media-audio">
							<iframe src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F67943430"></iframe> 
						</div> 
					</div> 
					<div class="eight columns">	
						<div class="blog-date"><span>20.10.</span></div>
						<h6>Post With Audio</h6>
						<p>Dignissim eget bibendum vitae, scelerisque eget justo. Duis tincidunt erat quam. Etiam placerat sapien elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque egestas ornare sagittis.</p>
						<div class="blog-tag"><a href="#">audio</a><a href="#">music</a></div>	
						<div class="clear"></div> 
						<div class="link-blog"><div class="cl-effect-14"><a href="#">read more</a></div></div>
					</div> 
				</div>
			</div>