{% extends 'basis.html' %}
	{% block b %}
		<article id="home" class="active"> 
			<div class="background-grid"></div>
			<a id="P2" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=qDKXXv60-7E',containment:'#home',autoPlay:true, mute:true, startAt:4, loop:true, opacity:1}"></a>
			<div class="home-text">
				<p><span>Web Design - Brand Design - Visual Identity - Illustrations</span></p>
				<div class="rotator">
					<div><h1>BORN INTO <span>CREATIVITY</span></h1></div>
					<div><h1>FOCUSED ON <span>STRATEGY</span></h1></div>
					<div><h1>INSPIRED BY <span>TECHNOLOGY</span></h1></div>
				</div>
				<div class="link-home"><div class="cl-effect-14"><a href="javascript:goTo('about');">start here</a></div></div>
		 	</div>
		</article>
		    {% endblock %}
        {% block a %}
        {% endblock %}