{% extends 'basis.html' %}
	{% block b %}
    	<article id="folio" class="off">
			<div class="container">
				<div class="sixteen columns"> 
					<h1>Portfolio</h1>
				</div>
				<div class="sixteen columns"> 
					<div class="sep"></div> 
				</div>
			</div>	
			<div class="clear"></div>
			<div class="container">
				<div class="sixteen columns">
					<div id="portfolio-filter">
						<ul id="filter">
							<li><div class="cl-effect-14"><a href="#" class="current" data-filter="*" title="">Show all</a></div></li>
							<li><div class="cl-effect-14"><a href="#" data-filter=".photography" title="">photography</a></div></li>
							<li><div class="cl-effect-14"><a href="#" data-filter=".illustration" title="">illustration</a></div></li>
							<li><div class="cl-effect-14"><a href="#" data-filter=".motion-graphics" title="">motion graphics</a></div></li>
							<li><div class="cl-effect-14"><a href="#" data-filter=".web-design" title="">web design</a></div></li>
						</ul>
					</div>
				</div>
			</div> 
			<div class="clear"></div>
			<div class="container">
			<div class="all-works">
				<div class="one-third column one-work photography web-design illustration">	
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/1.jpg" alt=""/>
					</a>			
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="project.html" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/2.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/3.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="project.html" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/4.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/5.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics illustration">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/6.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/7.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work web-design">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/8.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work illustration photography">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/9.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics web-design">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/10.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography motion-graphics">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/11.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work motion-graphics">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/12.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work photography">
					<a class='iframe group1'  href="project.html" title="">	
						<div class="work-text"><h6>Project Name</h6></div>	
						<img src="images/gallery/15.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work illustration">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>			
						<img src="images/gallery/17.jpg" alt=""/>
					</a>
				</div>
				<div class="one-third column one-work web-design">
					<a class='iframe group1'  href="project.html" title="">
						<div class="work-text"><h6>Project Name</h6></div>		
						<img src="images/gallery/13.jpg" alt=""/>
					</a>
				</div>
			</div>
			</div>
		
		</article>